* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

header {
  padding: 60px;
  font-size: x-large;
  text-align: center;
  background: lightblue;
  color: black;
}

nav {
  display: flex;
  background-color: lightblue;
  justify-content: flex-end;
}

nav a {
  color: darkblue;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

h2 {
  padding: 50px;
  font-size: 60px;
  text-align: center;
}

h3 {
  padding: 30px;
  font-size: 40px;
  text-align: left;
}

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  margin-top: auto;
}

.product {
  display: flex;
  width: 90%;
  margin: 1% auto;
}

.product button {
  font-size: 150%;
}

.product-slideshow {
  display: flex;
  align-items: center;
}

.product-image {
  width: 100%;
}

.product-details {
  margin-left: 3%;
  flex: 0 0 60%;
}

@media screen and (max-width: 768px) {
  main,
  nav,
  .product {
    flex-direction: column;
  }

  .product-slideshow button {
    display: none;
  }

  .product-details {
    margin-left: 0;
  }
}
